#catalogo{
    display: flex;
}

#sezione-ricerca{

    height: 50vh;
    background-color: aqua;
    padding: 16px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

#risultati{
    flex-grow: 1;
    height: 50vh;

    background-color: bisque;

    padding: 16px;
    margin: 5px;
}

#barra-ricerca{
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.product-name{
    margin: 5px;
    padding: 16px;
}

.link-product{
    text-decoration: none ;
    color: black ;
}

.link-product:visited {
    color: black;
}

.link-product:hover {
    color: black;
}

.link-product:active {
    color: black;
}