#catalogo {
    display: flex;
margin-top: 30px;
    height: 700px;

}

#sezione-ricerca {

    padding: 16px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    min-width: fit-content;
    background-color: rgb(33, 33, 49);
    box-shadow: rgba(255, 254, 254, 0.15) 2.4px 2.4px 3.2px;

}

#ricerca {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 40px;

}

#search-form {
    margin: 8px;
    padding: 16px;
}




#barra-ricerca {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/iconaSearch.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}


.categorie-ricerca {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.categoria {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: black;
    font-size: 18px;

}


#risultati {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: auto;
    padding: 16px;
    margin: 5px;

    border-radius: 10px;
    background-color: rgb(33, 33, 49);
    box-shadow: rgba(255, 255, 255, 0.15) 2.4px 2.4px 3.2px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}






/* Sezione della view dinamica */
#mostra-prodotti {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;

}

.space{
    flex-grow: 1;
}

.product-image {
    margin: 5px;
    padding: 16px;
}

.product-name {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 16px;
    padding: 16px;
}

.link-product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
    color: black;
}


.categoria label {
    color: white;
    font-family: 'Raleway', sans-serif;
}

#pagination a:hover {
    color: rgb(226, 226, 226);
}

.product-item:hover .product-name {
    color: black;
}

.categoria label {
    margin-left: 5px;
}


@media (max-width: 1400px) {
    body {
        min-width: 1400px;
        /* Imposta una larghezza minima per la pagina */
        overflow-x: auto;
        /* Aggiunge una barra di scorrimento orizzontale */
    }
}