#contenuto{
    flex-grow: 1;
    display: flex;
    background-color: rgb(83, 153, 144);


}

#iframe{
    margin: 5px;
    padding: 16px;
}

#posizione{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 16px;
}

#form{
    margin: 5px;
    padding: 16px;
}

#stabilimenti{
    margin: 5px;
    padding: 16px;
}