#modifiche{
    background-color: beige;
    
}

#form-operation{
    margin: 5px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#settore-modifiche{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;

}

.selezione{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

