#contenuto-where{
    display: flex;
    justify-content: space-between;
}
#map{
    margin: 5px;
    padding: 16px;
    height: 500px;
    width: 500px;
}


#prova-position{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 16px;
}

.p{
    color: white;
}
