#where{
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
#map{
    margin: 5px;
    padding: 16px;
    min-height: 500px;
    min-width: 500px;
    max-height: 500px;
    max-width: 500px;
}


#prova-position{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 16px;
    min-width: 40%;
}

#description-section h2{
    margin-bottom: 20px;
}


#stabilimenti-list h3{
    margin-bottom: 5px;
    margin-top: 10px;
}

