.container-section {
   padding: 16px;
   margin-top: 14px;
   display: flex;
}

.title {
   min-width: fit-content;
}

#staff-section {
   margin-bottom: 20px;
}

.option {
   display: flex;
   justify-content: space-between;
   margin-top: 5px;
   margin-bottom: 5px;
   border-bottom-style: solid;
   border-bottom-width: 2px;
   border-color: rgb(200, 200, 200);
   padding: 5px;
}

.title-div {
   display: flex;
   justify-content: space-between;
   gap: 10em;
}

.list-div {
   min-width: fit-content;
   max-width: 30%;
}

.list-div,
.section-form-view {
   border-radius: 10px;
   background-color: rgb(33, 33, 49);
   box-shadow: rgba(255, 255, 255, 0.15) 2.4px 2.4px 3.2px;
   border-style: solid;
   border-width: 1px;
   border-color: black;
   padding: 40px;

}

.section-form-view {
   flex-grow: 1;
   margin-left: 10px;
}


.operation-div {
   min-width: fit-content;
   display: flex;
}
.operation-div a {
   padding: 5px;
}

#results {
   margin-top: 20px;
}

ul {
   list-style-type: none;
}


/* sezione form */
.form h2 {
   margin-bottom: 20px;
}

.form label {
   margin-bottom: 5px;
}

.form input {
   margin-bottom: 20px;
   width: fit-content;
}

.form-group {
   display: flex;
   flex-direction: column;
}

.form textarea {
   margin-bottom: 20px;
}

.form p {
   margin-bottom: 20px;
}

.info-view,
.info-view-img {
   margin-bottom: 5px;
}

.info-view-img {
   max-height: 400px;
   max-width: 400px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.info-view-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}


.info-view-img-thumbnail {
   height: auto;
   width: auto;
   max-height: 185px;
   max-width: 185px;
   overflow: hidden;
   object-fit: cover;
   display: flex;
   flex-direction: column;
}



.card {
   overflow: hidden;
   object-fit: cover;
}

.form-tech {
   display: flex;
   justify-content: space-around;
   gap: 5em;
}

.title-tech {
   display: flex;
   justify-content: center;
}

.button-add {
   display: flex;
   justify-content: center;
}