/* Stili generali per il contenitore */
#section-operation {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    color: #f0f0f0;
    background-color: #2e2e2e;
    border-radius: 8px;
}

/* Stili per l'aside e la lista operazioni */
aside {
    min-width: 150px;
    margin-right: 20px;
}

#operation {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.operation-link {
    display: block;
    padding: 10px 15px;
    margin: 5px 0;
    color: #f0f0f0;
    text-decoration: none;
    background-color: #3a3a3a;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.operation-link:hover,
.operation-link:focus {
    background-color: #505050;
    color: #ffffff;
}

.operation-link.active {
    background-color: #007acc;
    color: #ffffff;
}

/* Stili per la sezione di visualizzazione */
#visualization-section {
    flex-grow: 1;
    padding: 20px;
    background-color: #3a3a3a;
    border-radius: 8px;
    min-height: 300px; /* Aggiunge una minima altezza per una disposizione uniforme */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
